# Database URL
DB_URL=mongodb://localhost:27017/your_database_name

# Port Configuration
PORT=4000

# Client Application URL
CLIENT_URL=http://localhost:5173

# Google Authentication
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Session configuration
SESSION_SECRET=your_session_secret_here

# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=your_aws_region_here

# Email Configuration (Nodemailer / Resend)
EMAIL_USER=your_email_address_here
EMAIL_PASS=your_email_app_password_here

# GitHub Authentication
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_CALLBACK_URL=http://localhost:4000/auth/github/callback

# AWS CloudFront Private Key (For signed URLs)
CLOUDFRONT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_cloudfront_private_key_here\n-----END PRIVATE KEY-----"

# Razorpay Payment Gateway
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret_here

